* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Criando variaveis no css para reutilizar esses estilos com mais praticidade */
:root {
--white: #fff;
--background: #F2F3F5;
--gray-line:#DCDDE0;
--text: #666;
--text-highlite: #B3B9FF;
--tittle: #2E384D;
--red: #E83F5B;
--green: #4CD62B;
--blue: #5965E0;
--blue-dark: #4953B8;
--blue-twitter: #2AA9E0;
}
/* ----------------------------------------------------------------------------- */

/* Ajustando o tamanho de fonte para cada tamanho de tela */
@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
/* ----------------------------------------------------------------------------- */

/* Estilos globais */

body {
  background-color: var(--background);
  color: var(--text);
}

body, input, textarea, button {
  font: 400 16px "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ----------------------------------------------------------------------------- */